<div class="bg-gray-100 flex h-screen items-center justify-center px-4 sm:px-6 lg:px-8">
    <script>
        function newUserAccount() {
            const boConfig = Alpine.store["boConfig"];
            const accountInfo = new UserAccount({...boConfig});
            accountInfo.newPassword = "";
            accountInfo.newPasswordVerify = "";
        }
    </script>
    <div class="w-full max-w-md space-y-8" x-data="newUserAccount()">
        <div class="bg-white shadow-md rounded-md p-6">

            <img class="mx-auto h-12 w-auto" src="https://www.svgrepo.com/show/499664/user-happy.svg" alt="" />

            <h2 class="my-3 text-center text-3xl font-bold tracking-tight text-gray-900">
                Sign up for an account
            </h2>

            <div>
                <label for="given-name" class="block text-sm font-medium text-gray-700">Full Name</label>
                <div class="mt-1 flex flex-row">
                    <input id="given-name" type="text" autocomplete="given-name" required :value="firstName" placeholder="First name"
                        class="px-2 py-3 mt-1 block w-1/3 rounded-md border border-gray-300 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm" />
                    <input id="middle-name" type="text" autocomplete="middle-name" required :value="middleName" placeholder="Middle name"
                        class="px-2 py-3 mt-1 block w-1/3 rounded-md border border-gray-300 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm" />
                    <input id="family-name" type="text" autocomplete="family-name" required :value="lastName" placeholder="Last name"
                        class="px-2 py-3 mt-1 block w-1/3 rounded-md border border-gray-300 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm" />
                </div>
            </div>
            <div>
                <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                <div class="mt-1">
                    <input id="username" type="text" autocomplete="username" required :value="username" placeholder="Select a username"
                        class="px-2 py-3 mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm" />
                </div>
            </div>

            <div>
                <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                <div class="mt-1">
                    <input id="email" type="email" autocomplete="email" required :value="emailAddress" placeholder="Email address"
                        class="px-2 py-3 mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm" />
                </div>
            </div>

            <div>
                <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                <div class="mt-1">
                    <input id="password" type="password" autocomplete="off" required :value="newPassword" placeholder="********"
                        class="px-2 py-3 mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm" />
                </div>
            </div>

            <div>
                <label for="confirm_password" class="block text-sm font-medium text-gray-700">Confirm Password</label>
                <div class="mt-1">
                    <input id="confirm_password" type="password" autocomplete="off" required :value="newPasswordVerify"  placeholder="********"
                        class="px-2 py-3 mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm" />
                </div>
            </div>

            <div>
                <button 
                    class="flex w-full justify-center rounded-md border border-transparent bg-sky-400 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-opacity-75 focus:outline-none focus:ring-2 focus:ring-sky-400 focus:ring-offset-2">
                    Register Account
                    </button>
            </div>
        </div>
    </div>
</div>