{% layout = "layout/base.view.html" %}

{-main-}
<section>
    <div class="bg-white">
        <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-10 lg:max-w-7xl lg:px-8">
            <h2 class="text-2xl font-bold tracking-tight text-gray-900">All Products</h2>

            <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
{%  local products = model[1].products
    for i = 1, #products, 1 do
        local product = products[i]
        local idParams = table.concat(product.ids, "/")
        local imageUrls = product:getImageUrls("280x280")
        local imageUrl = imageUrls[0] or "#"  %}
                <a href="/products/{{idParams}}" class="group">
                    <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                        <img src="{*imageUrl*}" alt="{{product.description}}" class="h-full w-full object-cover object-center group-hover:opacity-75">
                    </div>
                    <h3 class="mt-4 text-sm text-gray-700">{* product.productName *}</h3>
                    <p class="mt-1 text-lg font-medium text-gray-900">{{product.price or "Call"}}</p>
                </a>
{%  end %}

                <!-- More products... -->
            </div>
        </div>
    </div>

</section>
{-main-}