<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gleecy Shopping">
    <meta name="keywords" content="clothes, cross border, VN, Vietnam, Viet Nam, US, America">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />


    <title>Gleecy</title>
    <script src="/ApiServices.min.js" defer></script>
    <!-- <script src="https://unpkg.com/alpinejs" defer></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.13.8/dist/cdn.min.js" defer></script>
    <script src="/UIComponents.js" defer></script>
    <script src="/master.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.8/dist/cdn.min.js" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

 <script>
    const categories = { 
'pc.P56586a9f100153': {key: 'pc.P56586a9f100153', storeCategoryTypeEnumId: 'PsctViewAllow', productStoreId: 'store.P56586a9f100000', lastUpdatedStamp: '2024-05-06 17:42', productCategoryId: 'P56586a9f100153', productCategoryTypeEnumId: 'e.PctInventoryGroup', ownerPartyId: '100000', categoryName: 'To be sell in US-MI', fromDate: '2024-05-01 00:00', pseudoId: 'US-MI', version: '3', isLoaded: true, },
'pc.P56586a9f100052': {key: 'pc.P56586a9f100052', storeCategoryTypeEnumId: 'PsctQuickAdd', productStoreId: 'store.P56586a9f100000', lastUpdatedStamp: '2024-05-25 16:41', parentCategories: 'APP', productCategoryId: 'P56586a9f100052', isLoaded: true, productCategoryTypeEnumId: 'e.PctCatalog', description: 'Imported from CSV', ownerPartyId: '100000', fromDate: '2024-05-01 00:00', pseudoId: 'AOD', categoryName: 'Áo dài', version: '3', sequenceNum: '9', },
'pc.P56586a9f100003': {key: 'pc.P56586a9f100003', storeCategoryTypeEnumId: 'PsctBrowseRoot', productStoreId: 'store.P56586a9f100000', lastUpdatedStamp: '2024-05-25 16:41', productCategoryId: 'P56586a9f100003', productCategoryTypeEnumId: 'e.PctCatalog', description: 'Imported from CSV', ownerPartyId: '100000', categoryName: 'Apparel', fromDate: '2024-05-01 00:00', pseudoId: 'APP', version: '3', isLoaded: true, },
'pc.P56586a9f100053': {key: 'pc.P56586a9f100053', storeCategoryTypeEnumId: 'PsctQuickAdd', productStoreId: 'store.P56586a9f100000', lastUpdatedStamp: '2024-05-25 16:41', parentCategories: 'APP', productCategoryId: 'P56586a9f100053', isLoaded: true, productCategoryTypeEnumId: 'e.PctCatalog', description: 'Imported from CSV', ownerPartyId: '100000', fromDate: '2024-05-01 00:00', pseudoId: 'HAT', categoryName: 'Mũ - Nón', version: '3', sequenceNum: '10', },
'pc.P56586a9f100006': {key: 'pc.P56586a9f100006', storeCategoryTypeEnumId: 'PsctQuickAdd', productStoreId: 'store.P56586a9f100000', lastUpdatedStamp: '2024-05-25 16:41', parentCategories: 'APP', productCategoryId: 'P56586a9f100006', isLoaded: true, productCategoryTypeEnumId: 'e.PctCatalog', description: 'Imported from CSV', ownerPartyId: '100000', fromDate: '2024-05-01 00:00', pseudoId: 'SHO', categoryName: 'Short', version: '3', sequenceNum: '3', },
'pc.P56586a9f100005': {key: 'pc.P56586a9f100005', storeCategoryTypeEnumId: 'PsctQuickAdd', productStoreId: 'store.P56586a9f100000', lastUpdatedStamp: '2024-05-25 16:41', parentCategories: 'UND', productCategoryId: 'P56586a9f100005', isLoaded: true, productCategoryTypeEnumId: 'e.PctCatalog', description: 'Imported from CSV', ownerPartyId: '100000', fromDate: '2024-05-01 00:00', pseudoId: 'BRA', categoryName: 'Bra', version: '3', sequenceNum: '1', },
'pc.P56586a9f100001': {key: 'pc.P56586a9f100001', storeCategoryTypeEnumId: 'PsctQuickAdd', productStoreId: 'store.P56586a9f100000', lastUpdatedStamp: '2024-05-25 16:41', parentCategories: 'APP', productCategoryId: 'P56586a9f100001', isLoaded: true, productCategoryTypeEnumId: 'e.PctCatalog', description: 'Imported from CSV', ownerPartyId: '100000', fromDate: '2024-05-01 00:00', pseudoId: 'UND', categoryName: 'Underwear', version: '3', sequenceNum: '2', },
'pc.P56586a9f100004': {key: 'pc.P56586a9f100004', storeCategoryTypeEnumId: 'PsctQuickAdd', productStoreId: 'store.P56586a9f100000', lastUpdatedStamp: '2024-05-25 16:41', parentCategories: 'SPO', productCategoryId: 'P56586a9f100004', isLoaded: true, productCategoryTypeEnumId: 'e.PctCatalog', description: 'Imported from CSV', ownerPartyId: '100000', fromDate: '2024-05-01 00:00', pseudoId: 'BIK', categoryName: 'Bikini', version: '3', sequenceNum: '1', },
'pc.P56586a9f100000': {key: 'pc.P56586a9f100000', storeCategoryTypeEnumId: 'PsctQuickAdd', productStoreId: 'store.P56586a9f100000', lastUpdatedStamp: '2024-05-25 16:41', parentCategories: 'APP', productCategoryId: 'P56586a9f100000', isLoaded: true, productCategoryTypeEnumId: 'e.PctCatalog', description: 'Imported from CSV', ownerPartyId: '100000', fromDate: '2024-05-01 00:00', pseudoId: 'SPO', categoryName: 'Sport wear', version: '3', sequenceNum: '1', },
'pc.P56586a9f100018': {key: 'pc.P56586a9f100018', storeCategoryTypeEnumId: 'PsctFeatured', productStoreId: 'store.P56586a9f100000', lastUpdatedStamp: '2024-05-08 20:58', parentCategories: '_NA_', productCategoryId: 'P56586a9f100018', productCategoryTypeEnumId: 'e.PctUsage', description: 'Imported from CSV', ownerPartyId: '100000', categoryName: 'Children', fromDate: '2024-05-01 00:00', pseudoId: 'CHI', version: '3', isLoaded: true, },
'pc.P56586a9f100013': {key: 'pc.P56586a9f100013', storeCategoryTypeEnumId: 'PsctQuickAdd', productStoreId: 'store.P56586a9f100000', lastUpdatedStamp: '2024-05-25 16:54', parentCategories: 'GLU', productCategoryId: 'P56586a9f100013', isLoaded: true, productCategoryTypeEnumId: 'e.PctCatalog', description: 'Imported from CSV', ownerPartyId: '100000', fromDate: '2024-05-01 00:00', pseudoId: 'GCBR', categoryName: 'Glucosamin and Chondroitin with MSM & Burdock Root', version: '3', sequenceNum: '3', },
'pc.P56586a9f100011': {key: 'pc.P56586a9f100011', storeCategoryTypeEnumId: 'PsctQuickAdd', productStoreId: 'store.P56586a9f100000', lastUpdatedStamp: '2024-05-25 16:54', parentCategories: 'SUP', productCategoryId: 'P56586a9f100011', isLoaded: true, productCategoryTypeEnumId: 'e.PctCatalog', description: 'Imported from CSV', ownerPartyId: '100000', fromDate: '2024-05-01 00:00', pseudoId: 'GLU', categoryName: 'Glucosamine', version: '3', sequenceNum: '1', },
'pc.P56586a9f100014': {key: 'pc.P56586a9f100014', storeCategoryTypeEnumId: 'PsctQuickAdd', productStoreId: 'store.P56586a9f100000', lastUpdatedStamp: '2024-05-25 16:54', parentCategories: 'GLU', productCategoryId: 'P56586a9f100014', isLoaded: true, productCategoryTypeEnumId: 'e.PctCatalog', description: 'Imported from CSV', ownerPartyId: '100000', fromDate: '2024-05-01 00:00', pseudoId: 'GCT', categoryName: 'Glucosamin and Chondroitin with MSM & Turmeric', version: '3', sequenceNum: '2', },
'pc.P56586a9f100015': {key: 'pc.P56586a9f100015', storeCategoryTypeEnumId: 'PsctQuickAdd', productStoreId: 'store.P56586a9f100000', lastUpdatedStamp: '2024-05-25 16:54', parentCategories: 'GLU', productCategoryId: 'P56586a9f100015', isLoaded: true, productCategoryTypeEnumId: 'e.PctCatalog', description: 'Imported from CSV', ownerPartyId: '100000', fromDate: '2024-05-01 00:00', pseudoId: 'GCBL', categoryName: 'Glucosamin and Chondroitin with MSM & Boswellia', version: '3', sequenceNum: '1', },
'pc.P56586a9f100010': {key: 'pc.P56586a9f100010', storeCategoryTypeEnumId: 'PsctBrowseRoot', productStoreId: 'store.P56586a9f100000', lastUpdatedStamp: '2024-05-25 16:54', productCategoryId: 'P56586a9f100010', productCategoryTypeEnumId: 'e.PctCatalog', description: 'Imported from CSV', ownerPartyId: '100000', categoryName: 'Dietary Supplement', fromDate: '2024-05-01 00:00', pseudoId: 'SUP', version: '3', isLoaded: true, },
'pc.P56586a9f100051': {key: 'pc.P56586a9f100051', storeCategoryTypeEnumId: 'PsctQuickAdd', productStoreId: 'store.P56586a9f100000', lastUpdatedStamp: '2024-05-25 16:41', parentCategories: 'APP', productCategoryId: 'P56586a9f100051', isLoaded: true, productCategoryTypeEnumId: 'e.PctCatalog', description: 'Imported from CSV', ownerPartyId: '100000', fromDate: '2024-05-01 00:00', pseudoId: 'TSH', categoryName: 'Áo thun', version: '3', sequenceNum: '8', },
'pc.P56586a9f100009': {key: 'pc.P56586a9f100009', storeCategoryTypeEnumId: 'PsctQuickAdd', productStoreId: 'store.P56586a9f100000', lastUpdatedStamp: '2024-05-25 16:41', parentCategories: 'APP', productCategoryId: 'P56586a9f100009', isLoaded: true, productCategoryTypeEnumId: 'e.PctCatalog', description: 'Imported from CSV', ownerPartyId: '100000', fromDate: '2024-05-01 00:00', pseudoId: 'PAJ', categoryName: 'Pajamas', version: '3', sequenceNum: '7', },
'pc.P56586a9f100008': {key: 'pc.P56586a9f100008', storeCategoryTypeEnumId: 'PsctQuickAdd', productStoreId: 'store.P56586a9f100000', lastUpdatedStamp: '2024-05-25 16:41', parentCategories: 'APP', productCategoryId: 'P56586a9f100008', isLoaded: true, productCategoryTypeEnumId: 'e.PctCatalog', description: 'Imported from CSV', ownerPartyId: '100000', fromDate: '2024-05-01 00:00', pseudoId: 'PAN', categoryName: 'Pants', version: '3', sequenceNum: '6', },
'pc.P56586a9f100002': {key: 'pc.P56586a9f100002', storeCategoryTypeEnumId: 'PsctQuickAdd', productStoreId: 'store.P56586a9f100000', lastUpdatedStamp: '2024-05-25 16:41', parentCategories: 'APP', productCategoryId: 'P56586a9f100002', isLoaded: true, productCategoryTypeEnumId: 'e.PctCatalog', description: 'Imported from CSV', ownerPartyId: '100000', fromDate: '2024-05-01 00:00', pseudoId: 'NIG', categoryName: 'Night Gown', version: '3', sequenceNum: '5', },
'pc.P56586a9f100007': {key: 'pc.P56586a9f100007', storeCategoryTypeEnumId: 'PsctQuickAdd', productStoreId: 'store.P56586a9f100000', lastUpdatedStamp: '2024-05-25 16:41', parentCategories: 'APP', productCategoryId: 'P56586a9f100007', isLoaded: true, productCategoryTypeEnumId: 'e.PctCatalog', description: 'Imported from CSV', ownerPartyId: '100000', fromDate: '2024-05-01 00:00', pseudoId: 'DRE', categoryName: 'Dress', version: '3', sequenceNum: '4', },
'pc.P56586a9f100012': {key: 'pc.P56586a9f100012', storeCategoryTypeEnumId: 'PsctQuickAdd', productStoreId: 'store.P56586a9f100000', lastUpdatedStamp: '2024-05-25 16:54', parentCategories: 'SUP', productCategoryId: 'P56586a9f100012', isLoaded: true, productCategoryTypeEnumId: 'e.PctCatalog', description: 'Imported from CSV', ownerPartyId: '100000', fromDate: '2024-05-01 00:00', pseudoId: 'VIT', categoryName: 'Vitamins', version: '3', sequenceNum: '2', },
};
    const sessionToken = "5f75f663";
    const storeId = "store.P56586a9f100000";
    const currencyUomId = "undefined"
</script>
<style>
    .pt-180 {
        padding-top: 720px;
    }
</style>
</head>

<body class="relative">
    <svg class="hidden" xmlns="http://www.w3.org/2000/svg">
        <style>
            path {
                fill: lightgray;
            }
        </style>
        <symbol id="search" viewBox="0 0 24 24">
            <path
                d="M20.707 19.294a1 1 0 01-1.414 1.414l-4.244-4.245a7.5 7.5 0 111.414-1.414l4.244 4.245zM10.5 16a5.5 5.5 0 100-11 5.5 5.5 0 000 11z">
            </path>
        </symbol>
        <symbol id="user" viewBox="0 0 24 24">
            <path
                d="M12 12a3.5 3.5 0 100-7 3.5 3.5 0 000 7zm6.762 7a7.073 7.073 0 00-13.524 0h13.524zM4 21a1 1 0 01-1-1h-.008a9.08 9.08 0 01.02-.159 9.08 9.08 0 015.454-7.127 5.5 5.5 0 117.068 0A9.08 9.08 0 0121.008 20H21a1 1 0 01-1 1H4z">
            </path>
        </symbol>
        <symbol id="cart" viewBox="0 0 24 24">
            <path
                d="M9.25 18.5a1.25 1.25 0 110 2.5 1.25 1.25 0 010-2.5zm7.5 0a1.25 1.25 0 110 2.5 1.25 1.25 0 010-2.5zM6 3c.317 0 .6.147.782.377.085.105.15.23.187.369L7.573 6H20a1 1 0 01.936.648c.073.19.089.404.032.616l-1.607 5.998a1 1 0 01-1.048.738H9.168l-.402 1.5H18a1 1 0 010 2H7.47a1 1 0 01-.864-.497.997.997 0 01-.107-.77l.873-3.258L5.236 5H4a1 1 0 110-2h2zm12.7 5H8.11l1.071 4h8.447L18.7 8z">
            </path>
        </symbol>
        <symbol id="x" viewBox="0 0 24 24">
            <path
                d="M13.415 12.006l5.295-5.292a1 1 0 00-1.414-1.415L12 10.591 6.71 5.296A1 1 0 005.295 6.71l5.292 5.295-5.295 5.292a1 1 0 101.414 1.414l5.295-5.292 5.292 5.295a1 1 0 001.414-1.414l-5.292-5.294z">
            </path>
        </symbol>
    </svg>
    <nav class="flex flex-row flex-wrap justify-between p-6 w-full" x-data="{ isOpen: false }"
        @keydown.escape="isOpen = false" :class="{ 'shadow-lg bg-indigo-900' : isOpen , 'bg-gray-800' : !isOpen}">
        <!--Logo etc-->
        <div class="order-1 h-10 w-1/2 md:w-24 flex items-center flex-shrink-0 text-white">
            <a class="text-white no-underline hover:text-white hover:no-underline" href="/">
                <span
                    class="block rounded-md py-2 text-2xl font-medium text-white hover:bg-gray-700 hover:text-orang"><i
                        class="em em-grinning"></i> GLEECY</span>
            </a>
        </div>
        <div x-data="searchObj"
            class="order-3 rounded-lg w-full md:order-2 md:w-2/3 xl:w-2/3 h-10 flex flex-row flex-nowrap border bg-white">
            <div class="relative">
                <!-- Browse root categories, for filtering-->
                <select id="panelSelect" x-ref="panelSelect" x-model="cat" x-on:change="adjustSize()"
                    class="rounded-l-lg border-none border-r-2 shadow-md h-full bg-gray-300 max-w-40 sm:max-w-80 lg:max-w-md"
                    style="width: 50px;">
                    <option value="cat1" selected>All</option>
                    <option value='pc.P56586a9f100003' selected>Apparel</option>
                    <option value='pc.P56586a9f100006' selected>Short</option>
                    <option value='pc.P56586a9f100005' selected>Bra</option>
                    <option value='pc.P56586a9f100000' selected>Sport wear</option>
                    <option value='pc.P56586a9f100011' selected>Glucosamine</option>
                    <option value='pc.P56586a9f100010' selected>Dietary Supplement</option>
                    <option value='pc.P56586a9f100009' selected>Pajamas</option>
                    <option value='pc.P56586a9f100012' selected>Vitamins</option>
                </select>
            </div>
            <div class="border-none flex flex-row flex-nowrap w-full relative rounded-r-lg">
                <input x-model="query" class="w-full align-bottom min-w-16 rounded-r-lg" />
                <button x-ref="button" x-on:click="search()" :aria-expanded="isOpen"
                    :aria-controls="$id('dropdown-button')" type="button"
                    class="bg-transparent p-1 absolute top-px right-px">
                    <svg class="w-9 h-9 p-1 fill-white">
                        <use xlink:href="#search" class=" fill-white w-8 h-8 p-1"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="order-2 md:order-3 h-10 w-1/2 md:w-40 flex flex-row flex-nowrap justify-end justify-items-end lg:flex lg:items-center">
            <button x-on:click="$dispatch('open-cart')" class="bg-transparent">
                <svg class="w-9 h-9 fill-white">
                    <use xlink:href="#cart"></use>
                </svg>
            </button>
            <!-- <label class="relative inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" checked class="peer sr-only" />
                <div class="peer flex h-8 items-center gap-4 rounded-full bg-green-500 px-3 after:absolute after:left-1 after: after:h-6 after:w-16 after:rounded-full after:bg-white/40 after:transition-all after:content-[''] peer-checked:bg-stone-600 peer-checked:after:translate-x-full peer-focus:outline-none dark:border-slate-600 dark:bg-slate-700 text-sm text-white">
                  <span>EN</span>
                  <span>VI</span>
                </div>
              </label> -->
            <div x-data="{ selected: true }" class="relative rounded-md inset-px bg-gray-200 w-12 h-9 py-2 px-1 mr-2">
                <div class=" w-full h-full relative flex items-center">
                    <div @click="selected=!selected" class="w-full flex pr-1 text-sm text-gray-800 cursor-pointer">
                        <button :class="selected ? 'text-gray-950 font-bold': 'text-gray-500 font-light'">EN</button>
                    </div>
                    <div @click="selected=!selected" class="w-full flex pl-1 justify-items-end text-sm text-gray-800 cursor-pointer">
                        <button x-bind:class="!selected ? 'text-gray-950 font-bold' : 'text-gray-500 font-light'">VI</button>
                    </div>
                </div>            
                <span :class="selected ? 'left-0' : 'left-1/2'"
                class="bg-blue-500 opacity-30 text-blue-950 font-bold shadow text-sm select-none flex items-center justify-center w-1/2 rounded h-9 py-2 inset-px transition-all duration-150 ease-linear top-0 absolute"> &nbsp;</span>
            </div>
            <template x-if="$store.user.token === ''">
                <button x-data @click="$dispatch('open-login')" style="height: 38px;" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm text-center px-2">
                    Log in
                </button>
            </template>
            <template x-if="$store.user.token !== ''">
                <div x-data="{ open: false }" x-on:keydown.escape.prevent.stop="open = false" class="relative">
                    <button x-on:click="open = ! open" class="bg-transparent p-1">
                        <svg class="w-9 h-9 fill-white">
                            <use xlink:href="#user"></use>
                        </svg>
                    </button>
                    <div x-show="open" x-transition.origin.top.left x-on:click.outside="open = false"
                        class="absolute z-10 w-40 right-1 mt-2 rounded-md bg-white shadow-md">
                        <a href="#"
                            class="flex items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left text-sm hover:bg-gray-50 disabled:text-gray-500">
                            My Account
                        </a>

                        <a href="#"
                            class="flex items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left text-sm hover:bg-gray-50 disabled:text-gray-500">
                            My Order
                        </a>

                        <button x-on:click="$store.user.logout()"
                            class="border-none flex items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left text-sm hover:bg-gray-50 disabled:text-gray-500">
                            Sign out
                        </button>
                    </div>

                </div>
            </template>
        </div>

        <!-- <div class="order-4 h-10 w-full flex flex-row flex-nowrap justify-start ">

        </div> -->
    </nav>

    <!--Modal Dialogs LOGIN-->
    <div x-ref="loginDialog" x-data="userLogin" x-init="loadHtml('/components/login', $el)" @open-login.window="open = true" class="absolute top-0 left-0 w-full h-full flex font-sans z-10"
    style="background-color: rgba(0,0,0,.5);" x-show="open"></div>
    <div x-data="cartDialog($el)" x-init="loadHtml('/components/cart', $el)" @open-cart.window="open = true" class="absolute top-0 left-0 w-full h-full flex font-sans z-10"
    style="background-color: rgba(0,0,0,.5);" x-show="open"></div>
    
    {* main *}

</body>