<div class="flex-shrink-0 w-full h-full object-center object-cover bg-white">
    <div class="flex flex-row flex-wrap items-center justify-items-center gap-5">
        <div class="order-2 lg:order-1 flex flex-grow  w-max flex-col justify-center items-center">
            <p class="text-4xl font-bold md:text-7xl text-orange-600">25% OFF</p>
            <p class="text-4xl font-bold md:text-7xl">SUMMER SALE</p>
            <p class="mt-2 text-sm md:text-lg">For limited time only!</p>
            <button class="text-lg md:text-2xl bg-black text-white py-2 px-5 mt-10 hover:bg-zinc-800">Shop Now</button>
        </div>
        <div class="order-1 lg:order-2 h-full w-fit flex-shrink-0">
            <div class="w-full flex flex-row flex-nowrap overflow-hidden items-end justify-end justify-items-end" >
                <img class="h-48 p-1 flex-shrink-0 object-center object-cover" src="https://images.unsplash.com/photo-1615397349754-cfa2066a298e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" alt="">
                <img class="h-48 p-1 flex-shrink-0 object-center object-cover" src="https://images.unsplash.com/photo-1593508512255-86ab42a8e620?auto=format&q=75&fit=crop&w=600" alt="">
                <img class="h-48 p-1 flex-shrink-0 object-center object-cover" src="/DEMO_016/bangdo_dom.jpeg" alt="">
                <img class="h-48 p-1 flex-shrink-0 object-center object-cover" src="/DEMO_014/DEMO_014_WhiteL.jpeg" alt="">
            </div>
            <div class="w-full flex flex-row flex-nowrap overflow-hidden items-end justify-end justify-items-end" >
                <img class="h-48 p-1 flex-shrink-0 object-center object-cover" src="/DEMO_019/hat_white_S.jpeg" alt="">
                <img class="h-48 p-1 flex-shrink-0 object-center object-cover" src="/DEMO_018/Skirt_white_m.jpeg" alt="">
                <img class="h-48 p-1 flex-shrink-0 object-center object-cover" src="/DEMO_017/sexy_redyellow_XL.jpeg" alt="">
                <img class="h-48 p-1 flex-shrink-0 object-center object-cover" src="/DEMO_015/pull_girl_white_M.jpeg" alt="">
                <img class="h-48 p-1 flex-shrink-0 object-center object-cover" src="/DEMO_013/2pieces_white_L.jpeg" alt="">
            </div>
        </div>
    </div>
</div>
