{% layout = "base.template.html" %}

{-main-}
    <!-- Promotion Carousel -->
    {(promotions1.carousel.template.html, {promotions = promotions})}

    <!-- newly added products: -->
    <section class="bg-white py-8">
        {("/category/productsByCategory.html")}
    </section>

    <!-- hot deals products: -->
    <section class="bg-white py-8">
        <!-- Products in HotDeals Category -->
    </section>

    <!-- hot deals products: -->
    <section class="bg-white py-8">
        <!-- Products in HotDeals Category -->
    </section>

    <!-- trending products: -->
    <section class="bg-white py-8">
        <!-- Products in HotDeals Category -->
    </section>
{-main-}
