<div x-data="new Carousel($el.children[0], true)" class="w-full mx-auto relative">
    <div class="relative w-full overflow-x-hidden shadow-2xl rounded" style="padding-top: 36%">
        <div class="absolute top-0 left-0 h-full bg-green-100 flex transition-transform flex-shrink-0"
            :style="`transform: translateX(${-100 * current}%)`">
            <template x-for="image in images">
                <img class="flex-shrink-0 w-full h-full object-center object-cover" :src="image" />
            </template>
        </div>
        <div class="absolute top-0 left-0 h-full flex items-center" x-show="images.length > 1">
            <button
                class="py-2 px-2 text-4xl opacity-25 bg-gray-100 rounded-r-lg hover:opacity-75 focus:outline-none focus:ring"
                @click="prev()">‹</button>
        </div>
        <div class="absolute top-0 right-0 h-full flex items-center" x-show="images.length > 1">
            <button
                class="py-2 px-2 text-4xl opacity-25 bg-gray-100 rounded-l-lg hover:opacity-75 focus:outline-none focus:ring"
                @click="next()">›</button>
        </div>
    </div>
</div>
