{% layout = "/layouts/index" %}
{-main-}
<section>
    <!-- carouselObj -->
    <div x-data="carouselObj" class="w-full mx-auto relative">
        <div class="relative w-full overflow-x-hidden shadow-2xl rounded pt-96">
            <div class="absolute top-0 left-0 h-full bg-green-100 flex transition-transform flex-shrink-0"
                :style="`transform: translateX(${-100 * current}%)`">
                <div class="flex-shrink-0 w-full h-full object-center object-cover bg-white">
                    <div class="flex flex-row flex-wrap items-center justify-items-center gap-5">
                        <div class="order-2 lg:order-1 flex flex-grow  w-max flex-col justify-center items-center">
                            <p class="text-4xl font-bold md:text-7xl text-orange-600">25% OFF</p>
                            <p class="text-4xl font-bold md:text-7xl">SUMMER SALE</p>
                            <p class="mt-2 text-sm md:text-lg">For limited time only!</p>
                            <button class="text-lg md:text-2xl bg-black text-white py-2 px-5 mt-10 hover:bg-zinc-800">Shop Now</button>
                        </div>
                        <div class="order-1 lg:order-2 h-full w-fit flex-shrink-0">
                            <div class="w-full flex flex-row flex-nowrap overflow-hidden items-end justify-end justify-items-end" >
                                <img class="h-48 p-1 flex-shrink-0 object-center object-cover" src="https://images.unsplash.com/photo-1615397349754-cfa2066a298e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" alt="">
                                <img class="h-48 p-1 flex-shrink-0 object-center object-cover" src="https://images.unsplash.com/photo-1593508512255-86ab42a8e620?auto=format&q=75&fit=crop&w=600" alt="">
                                <img class="h-48 p-1 flex-shrink-0 object-center object-cover" src="/DEMO_016/bangdo_dom.jpeg" alt="">
                                <img class="h-48 p-1 flex-shrink-0 object-center object-cover" src="/DEMO_014/DEMO_014_WhiteL.jpeg" alt="">
                            </div>
                            <div class="w-full flex flex-row flex-nowrap overflow-hidden items-end justify-end justify-items-end" >
                                <img class="h-48 p-1 flex-shrink-0 object-center object-cover" src="/DEMO_019/hat_white_S.jpeg" alt="">
                                <img class="h-48 p-1 flex-shrink-0 object-center object-cover" src="/DEMO_018/Skirt_white_m.jpeg" alt="">
                                <img class="h-48 p-1 flex-shrink-0 object-center object-cover" src="/DEMO_017/sexy_redyellow_XL.jpeg" alt="">
                                <img class="h-48 p-1 flex-shrink-0 object-center object-cover" src="/DEMO_015/pull_girl_white_M.jpeg" alt="">
                                <img class="h-48 p-1 flex-shrink-0 object-center object-cover" src="/DEMO_013/2pieces_white_L.jpeg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                
                <template x-for="image in images">
                    <img class="flex-shrink-0 w-full h-full object-center object-cover" :src="image" />
                </template>
            </div>
            <div class="absolute top-0 left-0 h-full flex items-center" x-show="images.length > 1">
                <button
                    class="py-2 px-2 text-4xl opacity-25 bg-gray-100 rounded-r-lg hover:opacity-75 focus:outline-none focus:ring"
                    @click="prev()">‹</button>
            </div>
            <div class="absolute top-0 right-0 h-full flex items-center" x-show="images.length > 1">
                <button
                    class="py-2 px-2 text-4xl opacity-25 bg-gray-100 rounded-l-lg hover:opacity-75 focus:outline-none focus:ring"
                    @click="next()">›</button>
            </div>
        </div>
    </div>

    <div class="bg-white">
{%
    local catVModel = model.rightTables["ProductCategory"]
    local topCats = catVModel:select("entity.productCategoryTypeEnumId == 'PctCatalog'")
    for k = 1, #topCats, 1 do
        local cat = topCats[k]
        local products = cat:getAllProducts("PctCatalog", true)
        if #products > 0 then
%}
        <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-10 lg:max-w-7xl lg:px-8">
            <h2 class="text-2xl font-bold tracking-tight text-gray-900">{{cat.categoryName}}</h2>

            <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
{%
            for i = 1, #products, 1 do
                local product = products[i]
                local href = "/products/"..table.concat(product.ids, "/")
                local _, image = next(product._images)
%}
                <a href="{*href*}" class="group">
                    <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                        <img src="{*image['280x280']*}" alt="{{product.description}}" class="h-full w-full object-cover object-center group-hover:opacity-75">
                    </div>
                    <h3 class="mt-4 text-sm text-gray-700">{* product.productName *}</h3>
                    <p class="mt-1 text-lg font-medium text-gray-900">{{product.price or "Call"}}</p>
                </a>
{%  
            end 
        end
%}

                <!-- More products... -->
            </div>
        </div>
{% 
    end 
%}
    </div>

</section>
{-main-}