<section>
    {%
        local utils = require "eifo.utils"
        local store = assert(record, "record is nil")
        local promotions = store.promotions
        local promoProducts = utils.ArraySet:new()
        for i = 1, #promotions, 1 do 
            local promoPrds = promotions[i].promoProducts
            for j = 1, #promoPrds, 1 do 
                promoProducts:add(promoPrds[i])
            end
        end
        local numPromos = #promoProducts
    %}
    <div class="w-full mx-auto relative">
        <div x-data="(new Carousel($el.children[0], true))" class="relative w-full overflow-x-hidden shadow-2xl rounded pt-96">
            <div class="absolute top-0 left-0 h-full w-full bg-green-100 flex transition-transform flex-shrink-0">
            {%
                for i = 1, numPromos, 1 do
                    local promoProduct = promoProducts[i]
                    local promotion = promoProduct.storePromotion
                    local product = promoProduct.product
                    local images = product:getImages()
                    local arr = {}
                    if images then
                        for _, image in pairs(images) do 
                            arr[#arr + 1] = image
                        end
                    end
                    local num = #arr
                    if product and promotion then
            %}
                <div class="flex-shrink-0 w-full h-full object-center object-cover bg-white">
                    <div class="w-full flex flex-row flex-wrap items-center justify-items-center gap-5">
                        <div class="order-1 flex flex-grow min-w-80 w-max flex-col justify-center items-center">
                            <p class="text-4xl font-bold md:text-6xl text-orange-600">{{promotion.itemDescription}}</p>
                            <p class="text-4xl font-bold md:text-6xl text-center">{{product.productName}}</p>
                {%      if promotion.thruDate then %}
                            <p class="mt-2 text-sm md:text-lg">For limited time only!</p>
                {%      end %}
                            <a href="/products/detail/{*product.key*}" class="text-lg md:text-2xl bg-black text-white py-2 px-5 mt-10 hover:bg-zinc-800">Shop Now</a>
                        </div>
                {%      if num >= 4 then 
                %}
                        <div class="order-2 h-full w-fit flex-shrink-0">
                            <div class="w-full flex flex-row flex-nowrap overflow-hidden items-end justify-end justify-items-end" >
                        {%  for i = 1, num, 2 do %}
                                <img class="h-48 p-1 flex-shrink-0 object-center object-cover" src="{*arr[i]['192x192']*}" alt="">
                        {%  end %}
                            </div>
                            <div class="w-full flex flex-row flex-nowrap overflow-hidden items-end justify-end justify-items-end" >
                        {%  for i = 2, num, 2 do %}
                                <img class="h-48 p-1 flex-shrink-0 object-center object-cover" src="{*arr[i]['192x192']*}" alt="">
                        {%  end %}
                            </div>
                        </div>
                {%      elseif num > 0 then 
                            local colspans = {"", "", "", ""}
                            local rowspans = {"", "", "", ""}
                            local sizes = {"300x300", "300x300", "300x300", "300x300"}
                            if num == 3 then
                                rowspans[3] = "row-span-2"
                                sizes[3] = "600x600"
                            elseif num == 2 then
                                rowspans[1] = "row-span-2"
                                sizes[1] = "600x600"
                                rowspans[2] = "row-span-2"
                                sizes[2] = "600x600"
                            elseif num == 1 then
                                colspans[1] = "col-span-2"
                                rowspans[1] = "row-span-2"
                                sizes[1] = "600x600"
                            end
                %}
                        <div class="order-2 h-96 w-fit grid grid-flow-col grid-cols-2">
                    {%      for i = 1, num, 1 do
                    %}
                            <div class="overflow-hidden bg-gray-200 {*colspans[i]*} {*rowspans[i]*}">
                                <img src="{*arr[i][sizes[i]]*}" alt="{{product.description}}" class="h-full w-full object-cover object-top group-hover:opacity-75">
                            </div>
                    {%      end %}
                        </div>
                {%      end %}
                    </div>
                </div>
            {%      end 
                end
            %}
            </div>
            <div class="absolute top-0 left-0 h-full flex items-center" x-show="{* numPromos > 1 *}">
                <button
                    class="py-2 px-2 text-4xl opacity-25 bg-gray-100 rounded-r-lg hover:opacity-75 focus:outline-none focus:ring"
                    @click="prev()">‹</button>
            </div>
            <div class="absolute top-0 right-0 h-full flex items-center" x-show="{* numPromos > 1 *}">
                <button
                    class="py-2 px-2 text-4xl opacity-25 bg-gray-100 rounded-l-lg hover:opacity-75 focus:outline-none focus:ring"
                    @click="next()">›</button>
            </div>
        </div>
    </div>

    <div class="bg-transparent mt-5 justify-items-center w-full">
        <div class="bg-transparent justify-center mx-auto w-full gap-6 container grid grid-flow-row grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4" >
        {%
            local products = utils.ArraySet:new()
            local topCats = store.categories
            for k = 1, #topCats, 1 do
                local cat = topCats[k]
                if cat.productCategoryTypeEnumId == 'e.PctCatalog' then
                    local catMems = cat.catMems
                    for iP = 1, #catMems, 1 do 
                        products:add(catMems[iP].product)
                    end
        %}
                    {(/category/productCard, {cat = cat})}
        {%      end  
            end
        %}
        </div>
    </div>
    <div class="w-full mx-auto relative">
        <div x-data="(new Carousel($el.children[0], false))" class="relative w-full overflow-x-hidden shadow-2xl rounded pt-40">
            <div class="absolute top-0 left-0 h-full bg-green-100 flex transition-transform flex-shrink-0">
        {%  
            local num = #products
            for i = 1, num, 1 do 
                local product = products[i]
                local href = "/products/detail/"..product.key
                local _, image = next(product.images)
                if image then
        %}
                <div class="h-40 flex-shrink-0 w-auto object-center object-cover">
                    <a href="{*href*}" class="h-full w-auto">
                        <img src="{*image['160x160']*}" alt="{{product.description}}" class="h-full w-auto group-hover:opacity-75">
                    </a>
                </div>
        {%      end
            end %}

            </div>
            <div class="absolute top-0 left-0 h-full flex items-center" x-show="true">
                <button
                    class="py-2 px-2 text-4xl opacity-25 bg-gray-100 rounded-r-lg hover:opacity-75 focus:outline-none focus:ring"
                    @click="prev()">‹</button>
            </div>
            <div class="absolute top-0 right-0 h-full flex items-center" x-show="true">
                <button
                    class="py-2 px-2 text-4xl opacity-25 bg-gray-100 rounded-l-lg hover:opacity-75 focus:outline-none focus:ring"
                    @click="next()">›</button>
            </div>

        </div>
    </div>
</section>
