<!--
{% --[[
    auth: true/false
    svgId: id of svg icon,
    svgPath: path string of svg icon,
    icon: url of image icon,
    title: title of the menu item,
    desc: description of the menu item,
    forLoggedIn: true/false,
    event: name of the event to be triggered,
    href: url of the menu item,
    hrefDemo: url of the demo video,
    items: array of sub-menu-items,
 
    Notice: string values are passed as strings, so you need to use single quotes in the template.
    --]]%} 
-->
<div x-data='new MenuItem( {*eifo.utils.toMenuItemJson( context) *}, $el )'>
   <div x-show="visible" class="grid grid-cols-2 divide-x divide-gray-900/5 bg-gray-50 mx-1 hover:bg-gray-200">
    
        <a href="{{context.hrefDemo}}" class="flex items-center justify-center gap-x-2.5 p-3 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-100">
            {(/macro/icon, context)}
            Watch demo
        </a>
        <a href="{{context.href}}" class="flex items-center justify-center gap-x-2.5 p-3 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-100">
            {(/macro/icon, context)}
            {{ context.title }}
        </a>
    </div>
</div>
