<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gleecy Shopping">
    <meta name="keywords" content="clothes, cross border, VN, Vietnam, Viet Nam, US, America">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap">
    <link rel="stylesheet" href="/gleecy.css" />


    <title>Gleecy</title>
        <!-- To be replaced with your own stylesheet -->
    <!-- <link rel="stylesheet" type="text/css" href="https://www.paypalobjects.com/webstatic/en_US/developer/docs/css/cardfields.css"/> -->

    <script src="/utils.js"></script>
    <script>
        const sessionToken = "{* token *}";
        const storeId = "{* storeId *}";
        const currencyUomId = "{* currencyUomId *}"
        const lang = "{* lang *}"
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://www.paypal.com/sdk/js?components=buttons&intent=authorize&client-id=AcdrYvOADBR9Bxhr7BtOIRDwwfhEOLdMHvvt89lTqxGdx_n6t9r5HdU6O4jn4qv1aSX0azdbw6TJA9wO"></script>
    <script src="/UIComponents.js"></script>
    <!-- <script src="/ApiServices.min.js"></script> -->
    <!-- <script src="https://unpkg.com/alpinejs" defer></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.13.8/dist/cdn.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@alpinejs/resize@3.x.x/dist/cdn.min.js" defer></script>
    <script src="/master.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.8/dist/cdn.min.js" defer></script>

</head>
<body class="relative">
    <svg class="hidden" xmlns="http://www.w3.org/2000/svg">
        <symbol id="svgDemo" viewbox="0 0 20 20">
            <path fill-rule="evenodd" clip-rule="evenodd" 
                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"/>
        </symbol>
        <symbol id="svgVideo" viewBox="0 0 20 20">
            <path fill-rule="evenodd" clip-rule="evenodd" 
                d="M2 10a8 8 0 1116 0 8 8 0 01-16 0zm6.39-2.908a.75.75 0 01.766.027l3.5 2.25a.75.75 0 010 1.262l-3.5 2.25A.75.75 0 018 12.25v-4.5a.75.75 0 01.39-.658z"/>
        </symbol>
        <symbol id="svgCustom" viewBox="0 0 20 20">
            <path fill-rule="evenodd" clip-rule="evenodd" 
                d="M2 3.5A1.5 1.5 0 013.5 2h1.148a1.5 1.5 0 011.465 1.175l.716 3.223a1.5 1.5 0 01-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 006.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 011.767-1.052l3.223.716A1.5 1.5 0 0118 15.352V16.5a1.5 1.5 0 01-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 012.43 8.326 13.019 13.019 0 012 5V3.5z"/>
        </symbol>

        <symbol id="search" viewBox="0 0 24 24">
            <path
                d="M20.707 19.294a1 1 0 01-1.414 1.414l-4.244-4.245a7.5 7.5 0 111.414-1.414l4.244 4.245zM10.5 16a5.5 5.5 0 100-11 5.5 5.5 0 000 11z">
            </path>
        </symbol>
        <symbol id="search1" viewBox="0 0 20 20">
            <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"
                  d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" />
        </symbol>

        <symbol id="user" viewBox="0 0 24 24">
            <path
                d="M12 12a3.5 3.5 0 100-7 3.5 3.5 0 000 7zm6.762 7a7.073 7.073 0 00-13.524 0h13.524zM4 21a1 1 0 01-1-1h-.008a9.08 9.08 0 01.02-.159 9.08 9.08 0 015.454-7.127 5.5 5.5 0 117.068 0A9.08 9.08 0 0121.008 20H21a1 1 0 01-1 1H4z">
            </path>
        </symbol>
        <symbol id="cart" viewBox="0 0 24 24">
            <path
                d="M9.25 18.5a1.25 1.25 0 110 2.5 1.25 1.25 0 010-2.5zm7.5 0a1.25 1.25 0 110 2.5 1.25 1.25 0 010-2.5zM6 3c.317 0 .6.147.782.377.085.105.15.23.187.369L7.573 6H20a1 1 0 01.936.648c.073.19.089.404.032.616l-1.607 5.998a1 1 0 01-1.048.738H9.168l-.402 1.5H18a1 1 0 010 2H7.47a1 1 0 01-.864-.497.997.997 0 01-.107-.77l.873-3.258L5.236 5H4a1 1 0 110-2h2zm12.7 5H8.11l1.071 4h8.447L18.7 8z">
            </path>
        </symbol>
        <symbol id="x" viewBox="0 0 24 24">
            <path
                d="M13.415 12.006l5.295-5.292a1 1 0 00-1.414-1.415L12 10.591 6.71 5.296A1 1 0 005.295 6.71l5.292 5.295-5.295 5.292a1 1 0 101.414 1.414l5.295-5.292 5.292 5.295a1 1 0 001.414-1.414l-5.292-5.294z">
            </path>
        </symbol>
        <symbol id="hamburgerOpen" viewBox="0 0 24 24">
            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </symbol>
        <symbol id="hamburgerClose" viewBox="0 0 24 24">
            <path d="M6 18L18 6M6 6l12 12" />
        </symbol>
        <symbol id="dropdown" viewBox="0 0 20 20">
            <path fill-rule="evenodd" clip-rule="evenodd"
                 d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" />
        </symbol>

    </svg>
    <nav class="flex flex-row flex-wrap items-center justify-items-start justify-between w-full mx-auto max-w-7xl px-2 pb-2 sm:px-4 md:h-16 bg-gray-800" >
        <!--Logo etc-->
        <div class="order-1 h-10 flex flex-none items-center justify-items-start justify-between">
            <!-- logo section -->
            <div class="flex-shrink-0">
                <!--  <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company"> -->
                <a href="/" class="block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-gray-700 hover:text-orange">GLEECY</a>
            </div>
        </div>

        <div x-data="searchObj"
            class="order-3 md:order-2 max-md:w-5/6 flex-grow items-center justify-items-stretch border-t md:border-none border-gray-700 px-2 flex flex-row flex-nowrap ">
            <div class="w-full max-w-md">
                <label for="search" class="sr-only">Search</label>
                <div class="relative items-baseline flex w-full">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                        <svg class="h-5 w-5 text-gray-400" aria-hidden="true">
                            <use xlink:href="#search1"></use>
                        </svg>
                    </div>
                    <input id="search" name="search" class="block w-full rounded-md border-0 bg-gray-700 py-1.5 pl-12 pr-3 text-gray-300 placeholder:text-gray-400 focus:bg-white focus:text-gray-900 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Search" type="search">
                </div>
            </div>
        </div>

        <div class="order-4 flex flex-none flex-row flex-nowrap justify-end justify-items-end items-center">
            <!-- language, signin, orders, returns section) -->
            <div class="relative md:flex md:flex-row" x-data="new MenuItem({expanded: false}, $el)" 
                 x-init="expanded = (window.innerWidth >= 768)" x-resize.document="expanded = ($width >= 768)">
                <button type="button" x-on:click="toggle()"
                    class="relative inline-flex md:hidden items-center justify-center rounded-md text-gray-400">
                    <span class="absolute -inset-0.5" id="hamburg-span"></span>
                    <span class="sr-only">Open main menu</span>
                    <svg x-show="isOpen" class="h-6 w-6" aria-hidden="true"  fill="none" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <use href="#hamburgerClose"></use>
                    </svg>
                    <svg x-show="!isOpen" class="h-6 w-6" aria-hidden="true"  fill="none" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <use href="#hamburgerOpen"></use>
                    </svg>
                </button>
                <div x-show="expanded || isOpen" 
                     class="flex flex-nowrap md:relative max-md:absolute max-md:top-0 max-md:right-full md:flex-row max-md:flex-col max-md:z-10 max-md:min-w-20 max-md:mt-2 max-md:rounded-md max-md:bg-white max-md:shadow-lg max-md:ring-1 max-md:ring-gray-900/5">
{%  for i = 1, #mainMenuItems do 
        ngx.log(ngx.INFO, "mainMenuItems[i] = ", eifo.utils.toJson(mainMenuItems[i])) 
    %}
                {(/components/menu/item, mainMenuItems[i])}
{%  end %}
                </div>
            </div>
        </div>
        <div class="order-2 md:order-4 ml-3 flex flex-none max-md:flex-grow flex-row flex-nowrap justify-end justify-items-end items-center">
            <!-- notification bell section -->
            <div x-data="{notifications: window.userAccount.notifications}">
                <button type="button" class="relative ml-auto flex-shrink-0 rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                    <span class="absolute -inset-1.5"></span>
                    <span class="sr-only">View notifications</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                    </svg>
                </button>
            </div>
            <!-- login icon section -->
            <div class="flex-shrink-0">
                <img class="h-8 md:h-10 w-8 md:w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            </div>
        </div>
    </nav>
    <div class="h-10 w-full mx-auto max-w-7xl px-2 sm:px-4 ">
        {(/components/menu/scrollableItems, {menuItems = catMenuItems, id = 'catMenu'} )}
    </div>


    <!--Modal Dialogs LOGIN-->
    <div x-data="getLoginForm($el, '/components/login')" @open-login.window="open()" class="absolute top-0 left-0 w-full h-full flex font-sans z-10"
    style="background-color: rgba(0,0,0,.5);" x-show="isOpen"></div>
    <div x-data="cartDialog($el, 'paypal-button-container')" @open-cart.window="open()" class="absolute top-0 left-0 w-full h-full flex font-sans z-10"
        style="background-color: rgba(0,0,0,.5);" x-show="isOpen">
        {(/components/cart)}
    </div>
    <!-- loadHtml($el, '/components/cart').then(()=>{paypalBtn.render('#paypal-button-container');})-->
    {* main *}

</body>